@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..700&display=swap');

:root {
    --BrownColor: #9e7f66;
    --DarkGray: #111111;
    --Mirage: #17192b;
    --EbonyClay: #242b37;
    --ShuttleGray: #5c6779;
    --White: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "league spartan";
    background-color: lightgray;
}

/*===========Utility Classes===========*/


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
}
/*===========Header Section===========*/
header {
    background: url(./images/taco_black_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

header.logo {
    padding: 3rem 0;
}

header .showcase_content {
    color: var(--White);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
}

header .showcase_content h2 {
    font-size: 6.5rem;
    font-weight: lighter;
}

header .showcase_content p {
    font-size: 1.3rem;
    width: 70%;
    margin: 2rem 0;
    line-height: 1.5;
    font-weight: normal;
}

header .showcase_content button {
    width: 50%;
    outline: none;
    border: 1px solid var(--White);
    background-color: transparent;
    color: var(--White);
    font-family: inherit;
    padding: 1.7rem 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 2rem;
    cursor: pointer; 
    transition: all 0.3s;
}

header .showcase_content button a {
    color: var(--White);
    text-decoration: none;
}

header .showcase_content button:hover {
    background-color: var(--White);
    color: var(--DarkGray);
}

header .showcase_content button:hover a {
    text-decoration: none;
    color: var(--DarkGray);
}
/*===========End of Header Section===========*/

/*===========Main Styles===========*/


#places .place_wrapper,
#local_food .local_food_wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

#places .place_wrapper .img_content img,
#local_food .local_food_wrapper .img_content img {
    width: 100%;
    border-radius: 10px;
    margin: 4rem 0;
}

#places .place_wrapper h2,
#local_food .local_food_wrapper h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: .7;
}

#places .place_wrapper p,
#local_food .local_food_wrapper p {
    width: 70%;
    margin: 2rem 0;
    line-height: 1.5;
    font-size: 1.2rem;
}
/*===========End of Main Styles===========*/

/*===========Menu===========*/

#menu .menu_wrapper h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 4rem;
}

#menu .menu_wrapper .menu_items_header h2, .menu_plates_header h2, 
.menu_specialty_header h2, .menu_drinks_header h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

#menu .menu_wrapper .menu_items, .menu_plates, .menu_specialty, .menu_drinks {
    display: grid;
    grid-template-columns: 100px auto 100px auto 100px auto;
    gap: 2rem;
    margin-bottom: 4rem;
}

#menu .menu_wrapper .menu_items img, .menu_plates img, 
.menu_specialty img, .menu_drinks img {
    width: 25%;
    border-radius: 10px;
}
/*===========End of Menu===========*/